version: "3.9"

services:
  app:
    build: ./
    ports:
      - "8000:8000"
    environment:
      PG_URL: postgresql+asyncpg://postgres:postgres@pg:5432/documentdb
      MINIO_HOST: minio:9000
      MINIO_ACCESS_KEY: admin
      MINIO_SECRET_KEY: password
    depends_on:
      - pg
      - minio

  pg:
    image: postgres:15
    container_name: pg
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: documentdb
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    container_name: minio
    restart: unless-stopped
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

volumes:
  pg_data:
  minio_data:
