version: "3.9"

services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app

  app:
    build: ./
    expose:
      - "8072"
    environment:
      PG_URL: postgresql+asyncpg://postgres:postgres@pg:5432/documentdb
      MINIO_HOST: minio:9000
      MINIO_ACCESS_KEY: admin
      MINIO_SECRET_KEY: password
    depends_on:
      - pg
      - minio

  pg:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: documentdb
    volumes:
      - pg_data:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    restart: unless-stopped
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    command: server /data --console-address ":9001"
    ports:
      - "9012:9000"
      - "9043:9001"
    volumes:
      - minio_data:/data

volumes:
  pg_data:
  minio_data:
